#adminmenu #toplevel_page_ecwid div.wp-menu-image:before {
	font-family: 'ecwid-icons' !important;
	content: "\e603";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#adminmenu #toplevel_page_ecwid div.wp-menu-image {
	margin: 0px;
	width: 34px;
	height: 30px;
}