#wpadminbar .ecwid-top-menu-item {
	margin-top: 0px;
	width: 23px;
	height: 28px;
	background: url(../images/icon-head-default.png) no-repeat 0% 2px;
}

#wpadminbar .ecwid-top-menu-item:hover,
#wpadminbar .hover .ecwid-top-menu-item{
	background-image: url(../images/icon-head-active.png);
}

#adminmenu #toplevel_page_ec-store div.wp-menu-image {
	background: url(../images/icon-sidebar-default.png) no-repeat 5px 2px;
}

#adminmenu #toplevel_page_ec-store:hover div.wp-menu-image,
#adminmenu #toplevel_page_ec-store.wp-has-current-submenu div.wp-menu-image
{
	background-image: url(../images/icon-sidebar-active.png);
}


.toplevel_page_ec-store #wpcontent .ecwid-message {
	margin-left: 20px;
}

.ecwid-settings h2 {
	background:url(../images/icon-title.png) no-repeat 0% 50%;
	padding-left: 43px;
	line-height: 32px;
	margin-bottom: 30px;
}

#ecwid-frame {
	max-width: 1440px;
}
#hide-vote-message {
	text-decoration: underline;
	cursor: pointer;
}

#hide-vote-message.hiding {
	cursor: wait;
}

#wp-toolbar > ul > li#wp-admin-bar-ecwid-main {
	display: block;
}

.ecwid-badge {
	display: table;
	width: 70%;
	min-width: 200px;
	padding: 3px;
}

.ecwid-badge > div {
	display: table-cell;
	vertical-align: middle;
	height: 55px;
}

.ecwid-badge .checkbox {
	width: 15px;
}
.ecwid-badge .image {
	text-align: center;
}

div.ecwid-message {
	margin-bottom: 15px;
	padding: 27px 29px 20px 30px;
	display: block;
}

.ecwid-message a {
	color: #0074A2;
}

.ecwid-message a:hover {
	color: #2EA2CC;
}

.ecwid-message .ecwid-message-title {
	font-size: 18px;
	margin-bottom: 12px;
	font-weight: bold;
}

.ecwid-message .ecwid-message-content {
	line-height: 20px;
}

.ecwid-message .ecwid-message-buttons {
	margin-top: 19px;
	position: relative;
	display: table;
	width: 100%;
	min-height: 30px;
}

.ecwid-message .ecwid-message-buttons > div {
	display: inline-block;
	vertical-align: middle;
}

.ecwid-message .ecwid-message-buttons > div:not(:first-child) {
	padding-left: 9px;
}

.ecwid-message .ecwid-message-buttons > div:last-child {
	position: absolute;

	padding-left: 0px;

	top: 0px;
	right: 0px;
}

.ecwid-message .ecwid-message-buttons > div a{
	text-decoration: none;
}

.ecwid-message .ecwid-message-hide:not(:hover):not(.button) {
	color: #bbb;
}

.ecwid-message .ecwid-message-hide:not(.button) {
	font-size: 12px;
	font-weight: 100;
	cursor: pointer;
	text-decoration: none;
}

.ecwid-message .ecwid-message-hide:not(.button):before {
	content: "\e606";
	font-family: ecwid-plugin-icons;
	font-size: 16px;
	position: relative;
	left: 1px;
	top: 3px;
}

@media screen and (max-width: 768px) {
	.ecwid-message .ecwid-message-buttons > div:last-child {
		position: inherit;
	}

	div.ecwid-message,
	div.ecwid-message.updated{
		padding: 27px 29px 20px 30px;
	}

	.ecwid-message .ecwid-message-buttons > div:not(:first-child) {
		padding-left: 0px;
	}

	.ecwid-message .ecwid-message-buttons > div {
		display: block;
	}

	.ecwid-message .ecwid-message-buttons > div a {
		text-align: center;
		white-space: normal;
		width: 100%;
	}

	.ecwid-message .ecwid-message-hide:before:not(.button) {
		font-size: 21px;
		top: 5px;
	}

	.ecwid-message-buttons .hide-wrapper {
		margin-top: 10px;
	}
}

body[class*="_page_ecwid"] .ecwid-message {
	margin: 20px;
}

.ecwid-message.dev {
	outline: 2px solid red;
	width: 434px;
}

.ecwid-message.dev .ecwid-message-title {
	letter-spacing: -0.4px;
}

.ecwid-message.dev .ecwid-message-content {
	letter-spacing: -0.62px;
}

.ecwid-message.dev .ecwid-message-hide {
  letter-spacing: -0.22px;
}

#available-widgets .widget-top.ecwid-widget-highlighted {
	background: #1d7ac4;
	font-weight: normal;
}


#available-widgets .widget-top.ecwid-widget-highlighted,
#available-widgets .widget-top.ecwid-widget-highlighted h3 {
	color: white;
}

.widgets-php #available-widgets .ecwid-widget .widget-top .widget-title h4,
.widgets-php #available-widgets .ecwid-widget .widget-top .widget-title h3
{
	padding-left: 42px;
}

.wp-customizer #available-widgets .ecwid-widget .widget-top .widget-title {
	padding-left: 0px;
}


#available-widgets .ecwid-widget .widget-top .widget-title:before {
	font-size: 20px;
	position: absolute;
	top: 12px;
	left: 16px;
	margin-right: -4px;
	line-height: 10px;
	font-family: 'ecwid-plugin-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #1d7ac4;
	opacity: .5;
}

.wp-customizer #available-widgets .ecwid-widget .widget-top .widget-title:before {
	left: -40px;
	top: -1px;
	font-size: 18px;
	opacity: 1;
	color: #32373c;
}

#available-widgets .ecwid-widget .widget-top:hover .widget-title:before {
	opacity: 1;
}

#available-widgets .ecwid-widget .widget-top.ecwid-widget-highlighted .widget-title:before {
	color: white;
	opacity: 1;
}

#available-widgets .ecwid-widget-badge .widget-title:before {
	content: "\e603";
}

#available-widgets .widget-top.ecwid-widget-minicart .widget-title:before,
#available-widgets .widget-top.ecwid-widget-minicart_miniview .widget-title:before,
#available-widgets .widget-top.ecwid-widget-floatingshoppingcart .widget-title:before,
#available-widgets .widget-top.ecwid-widget-nsfminicart .widget-title:before

{
	content: "\e601";
}

#available-widgets .widget-top.ecwid-widget-vcategories .widget-title:before,
#available-widgets .widget-top.ecwid-widget-categories .widget-title:before,
#available-widgets .widget-top.ecwid-widget-vcategorieslist .widget-title:before
{
	content: "\e602";
}

#available-widgets .widget-top.ecwid-widget-search .widget-title:before {
	content: "\e604";
}

#available-widgets .widget-top.ecwid-widget-storelink .widget-title:before {
	content: "\e605";
}

#available-widgets .widget-top.ecwid-widget-recentlyviewed .widget-title:before,
#available-widgets .widget-top.ecwid-widget-randomproduct .widget-title:before,
#available-widgets .widget-top.ecwid-widget-latestproducts .widget-title:before

{
	content: "\e600";
}

.ecwid-debug .section {
	display: table-row;
}

.ecwid-debug .section > * {
	display: table-cell;
	padding: 2px 5px;
}

.ecwid-debug h2.hide+div {
	display: none;
}

.ecwid-debug h2 {
	cursor: pointer;
}

.ecwid-debug h2:hover {
	color: #00a0d2;
}
.ecwid-debug h2:before {
	content: "[-]";
	font-family: monospace;
	position: relative;
	top: -0.2em;
}

.ecwid-debug h2.hide:before {
	content: "[+]";
}

.ecwid-reconnect-allow-sso .main-wrap {
	display: table;
	width:100%;
	max-width: 1000px;
}

.ecwid-reconnect-allow-sso .main-wrap .column {
	display: table-cell;
	width: 50%;
	vertical-align: top;
	padding-left: 5%;
	text-align: left;
}

.ecwid-reconnect-allow-sso .main-wrap .column img {
	width:100%;
	max-width: 413px;
}


.ecwid-reconnect-allow-sso .main-wrap .column h4 {
	font-size: 32px;
	font-family: 'Open Sans';
	line-height: normal;
	margin-top: 1em;
	font-weight: normal;
	margin-bottom: 28px;
}

.ecwid-reconnect-allow-sso.ecwid-connect .ec-store-box .connect-button a {
	text-align: center;
	white-space: nowrap;
	width:auto;
}

.ecwid-reconnect-allow-sso.ecwid-connect .ec-store-box .note {
	font-size: 16px;
	line-height: 1.50em;
	color: #444;
	margin-bottom: 40px;
}

.ecwid-admin-superwrap.has-wp-message {
	margin-top: 25px;
}

/* Remove left padding for integrated admin */
.ecwid-admin-superwrap {
	position:relative;
	height: 600px;
}

.toplevel_page_ec-store #wpcontent {
	padding-left: 0px;
}

.ecwid-admin-superwrap #wrap {
	right: 0px;
	height: 600px;
	background: white;

	width:100%;
	max-width:1440px;
}

.ecwid-no-padding #wpcontent {
	padding-left: 0px;
}

.ecwid-no-padding .ecwid-message, .ecwid-no-padding .update-nag {
	margin-left: 20px;
}

/* ---------------------- */

@media screen and (max-width:1023px) {
	.ecwid-reconnect-allow-sso .main-wrap .column h4 {
		font-size: 28px;
	}

	.ecwid-reconnect-allow-sso .main-wrap .note {
		font-size: 14px;
	}

	.ecwid-connect.ecwid-reconnect-allow-sso .main-wrap .connect-button a {
		font-size: 16px;
	}
}

@media screen and (max-width:767px) {
	.ecwid-reconnect-allow-sso .main-wrap .column {
		display: block;
		width: 100%;
		text-align: center;
		padding-left: inherit;
	}

	.ecwid-reconnect-allow-sso .main-wrap .column p {
		display: inline-block;
	}

	.ecwid-reconnect-allow-sso .main-wrap .column h4 {
		margin-bottom: 14px;
	}

	.ecwid-reconnect-allow-sso.ecwid-connect .ec-store-box .note {
		margin-bottom: 20px;
	}
}

.ecwid-admin-footer {
	display: table;
	width:100%;
}

.ecwid-connect .ecwid-admin-footer .ecwid-app-badges-block {
	display: none;
}

.ecwid-admin-footer-block {
	display: table-cell;
	padding-top: 5px;
	padding-right: 10px;
	font-size: 13px;
}


.ecwid-admin-footer-block:first-child {
	padding-left: 20px;
}


.ecwid-admin-footer-block .ecwid-admin-footer-title {
	margin: 1em 0;
	font-weight: 600;
}

.ecwid-admin-footer-block .ecwid-admin-footer-text {
	margin: 0.7em 0;
}
.ecwid-admin-footer-block .ecwid-app-badges {
	margin-top: -1em;
	min-width:230px;
	padding-top: 1px;
}

.ecwid-admin-footer-block .ecwid-app-badges a,
.ecwid-admin-footer-block .ecwid-app-badges svg {
	display: inline-block;
}
.ecwid-admin-footer-block .ecwid-app-badges svg {
	width: 105px;
	margin-right: 7px;
	opacity: .8;
}

.ecwid-admin-footer-block .ecwid-app-badges svg:hover {
	opacity: 1;
}

@media screen and (max-width:767px) {
	.ecwid-admin-footer-block {
		display: block;
	}
}

.ecwid-admin-timeout .ec-store-box {
	margin: 20px auto;
	border: 2px solid #ed917d;
	min-width: 290px;
	max-width: 600px;
	padding: 45px 85px 30px 85px;
	box-sizing: border-box;
	background: #f5ffef;
	font-family: Open Sans, Trebuchet MS, Helvetica, Verdana, sans-serif;
}

.ecwid-admin-timeout .ec-store-box .logo {
	width: auto;
	height: 65px;
}
.ecwid-admin-timeout .ec-store-box .logo svg {
	max-height: 65px;
}

.ecwid-admin-timeout .ec-store-box .logo svg path {
	fill: #ed917d;
}

.ecwid-admin-timeout .ec-store-box .title {
	text-align: center;
	font-size: 18px;
	padding: 15px 0 5px;
}

.ecwid-admin-timeout .ec-store-box .text {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	padding: 5px 0;
}

.ecwid-admin-timeout a {
	color: #04a2ca;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

.ecwid-admin-timeout a:hover {
	color: #006995;
}


.ecwid-reset-categories-cache {
	padding: 1px 2px;
	margin: 6px 0;
	line-height: 15px;
	text-decoration: none;
	border-bottom: 1px solid #0073aa;
}

.ecwid-reset-categories-cache-updated {
	display: none;
	padding: 1px 2px;
	margin: 6px 0;
	line-height: 15px;
	text-decoration: none;
	cursor: default;
	color: #62ae29;
	position: relative;
	left: 20px;
}
.ecwid-reset-categories-cache-updated:before {
	content: "\f147";
	font: 20px 'dashicons';
	position: absolute;
	top: 6px;
	left: -20px;
	line-height: 10px;
}

.ecwid-reset-categories-cache.cache-cleared:not(:hover) {
	color: #999;
	border-bottom-color:#999;
}

.ecwid-reset-categories-cache.cache-cleared:hover {
	color:#666;
	border-bottom-color:#666;
}


/****
 3d level menu
 */

#adminmenu .wp-submenu li.ec-separator a,
#adminmenu #toplevel_page_ec-store .wp-submenu li a[href="admin.php?page"]
{
	margin-top: 10px;
	opacity: .5;
	font-size: 0.9em;
	text-transform: uppercase;
	cursor: default;
}

#adminmenu #toplevel_page_ec-store div.wp-menu-image:before {
    font-family: 'ecwid-plugin-icons' !important;
    content: "\e603";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#adminmenu #toplevel_page_ec-store .wp-submenu3 {
	list-style: none;
	position: absolute;
	top: -1000em;
	left: 160px;
	
	overflow: visible;
	word-wrap: break-word;
	
	padding: 7px 0 8px;
	z-index: 9999;
	background-color: #41464b;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

#adminmenu #toplevel_page_ec-store .wp-submenu3 {
	min-width: 160px;
	width: auto;
}

@media only screen AND (max-width: 960px) {
	#adminmenu #toplevel_page_ec-store .wp-submenu3 {
		min-width: 150px;
		left: 150px;
	}
}

@media only screen AND (max-width: 960px) {
	#adminmenu #toplevel_page_ec-store .wp-submenu3,
	#adminmenu #toplevel_page_ec-store .wp-submenu {
		min-width: 190px;
	}

	#adminmenu #toplevel_page_ec-store .wp-submenu3 {
		left:  190px
	}
}

#adminmenu #toplevel_page_ec-store .wp-not-current-submenu {
	min-width: 160px;
	width: auto;
}

@media only screen and (max-width: 960px) {
	#adminmenu #toplevel_page_ec-store .wp-not-current-submenu {
        min-width: initial;
	}  }

#adminmenu #toplevel_page_ec-store .opensub:not(.wp-has-current-submenu3) .wp-submenu3 {
	top: -1px;
}

#adminmenu #toplevel_page_ec-store li {
	position: relative;
	overflow: visible;
}

#adminmenu #toplevel_page_ec-store .wp-submenu3 a {
	color: #A5A8AD;
	font-weight: 400;
}


#adminmenu #toplevel_page_ec-store .wp-submenu3 a.current {
	color: #ffffff;
	font-weight: 600;
}

#adminmenu #toplevel_page_ec-store .wp-submenu3 a:hover {
	color: #00d2fc;
}


#adminmenu #toplevel_page_ec-store li.wp-has-submenu3:not(.wp-has-current-submenu3):hover:after,
#adminmenu #toplevel_page_ec-store li.wp-has-submenu3.opensub:not(.wp-has-current-submenu3):after
{
	right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 8px;
	top: 10px;
	z-index: 10000;
	border-right-color: #41464b;
}

#adminmenu #toplevel_page_ec-store .wp-has-current-submenu3 .wp-submenu3 {
	position: relative;
	z-index: 3;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	border: 0;
	margin-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #41464b;
}
#adminmenu #toplevel_page_ec-store .wp-has-current-submenu3:last-child .wp-submenu3 {
	margin-top: 4px;
	margin-bottom: -8px;
}

#adminmenu #toplevel_page_ec-store .wp-has-current-submenu3 .wp-submenu3 > li > a {
	padding-left: 20px;
}

#adminmenu #toplevel_page_ec-store .wp-has-submenu3.wp-has-current-submenu3 > a {
	background: #0084bb;
	color: #ffffff;
}

/* WP.com-ish styles  */
#adminmenu #toplevel_page_ec-store.wpcom-menu .wp-submenu3 {
	background: white;
}

#adminmenu #toplevel_page_ec-store.wpcom-menu .wp-has-submenu3:not(.wp-has-current-submenu3) .wp-submenu3 {
	left: 273px;
}

#adminmenu #toplevel_page_ec-store.wpcom-menu .wp-submenu3 {
	min-width: 200px;
}

#adminmenu #toplevel_page_ec-store.wpcom-menu .wp-submenu3 li:hover>a {
	background: #f3f6f8;
}

#adminmenu #toplevel_page_ec-store.wpcom-menu  .wp-has-submenu3:not(.wp-has-current-submenu3) .wp-submenu3>li>a {
	padding-left: 18px;
}

#adminmenu #toplevel_page_ec-store.wpcom-menu  .wp-has-submenu3.wp-has-current-submenu3 .wp-submenu3>li>a {
	padding-left: 55px;
}

#adminmenu #toplevel_page_ec-store.wpcom-menu li.wp-has-submenu3.opensub:not(.wp-has-current-submenu3):after {
	border: 0;
}

.ecwid-admin-iframe .update-nag {
	display: none;
}

/* progress recycling icon */

.progress-indicator svg {
	animation-name: progress-rotation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: inline-block;
	vertical-align: middle;
}

.progress-indicator svg path {
	fill: #298CBA;

}
.progress-indicator .icon {
	width: 30px;
}
.progress-message {
	padding-left: 30px;
}

.progress-indicator .icon,
.progress-indicator .inline-note {
	display: table-cell;
	vertical-align: middle;
}

.progress-indicator .inline-note {
	line-height: 26px;
	color: #298CBA;
	font-weight: 600;
}
.progress-message {
	font-weight: 600;
}

@keyframes progress-rotation {
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}

/* Storefront page */
.settings-page input[type=checkbox]:disabled:before {
	content: '';
}

.settings-page input[type=text] {
	min-height: unset;
	box-shadow: unset;
}

.settings-page input[type=text]:focus, .settings-page select:focus, .settings-page a:focus {
    border-color: unset;
    box-shadow: unset;
    outline: unset;
}

.settings-page .field__error {
	display: none;
}

.settings-page .has-error .field__error {
	display: block;
}

.settings-page .list-dropdown-scroll { 
	overflow-y: auto;
	max-height: 250px;
}

.settings-page[data-ec-storefront-status="publish"] [data-ec-state]:not([data-ec-state*="publish"]) { display: none; }
.settings-page[data-ec-storefront-status="draft"] [data-ec-state]:not([data-ec-state*="draft"]) { display: none; }
.settings-page[data-ec-storefront-status="demo"] [data-ec-state]:not([data-ec-state*="demo"]) { display: none; }
.settings-page[data-ec-storefront-status="no-pages"] [data-ec-state]:not([data-ec-state*="no-pages"]) { display: none; }
