html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct a ,
.ecwid-SingleProduct a div.ecwid-title {
	text-decoration: none;
	color: #000000;
}

html#ecwid_html body#ecwid_body .ecwid-SearchPanel input {
	max-width: 300px;
}

.ecwid-shopping-cart-categories #horizontal-menu {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ecwid-shopping-cart-categories .horizontal-menu-item {
	background-image: none;
}

html#ecwid_html body#ecwid_body .ecwid-productsList ul li .ecwid-productsList-name {
	font-size: inherit;
	color: inherit;
}