html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct a,
.ecwid-SingleProduct a div.ecwid-title {
	color: #000;
	text-decoration: none;
}

html#ecwid_html body#ecwid_body .ecwid-SearchPanel input {
	max-width: 300px;
}

html#ecwid_html body#ecwid_body .ecwid-shopping-cart-categories #horizontal-menu,
html#ecwid_html body#ecwid_body .ecwid-shopping-cart-categories .horizontal-menu {
	margin-bottom: 10px;
	margin-top: 10px;
}

.ecwid-shopping-cart-categories .horizontal-menu-item {
	background-image: none;
}

html#ecwid_html body#ecwid_body .ecwid-productsList ul li .ecwid-productsList-name {
	color: inherit;
	font-size: inherit;
}

html#ecwid_html body#ecwid_body .ecwid tr:hover td {
	color: inherit;
}

html#ecwid_html body#ecwid_body .ecwid table {
	line-height: inherit;
}

.ecwid-SingleProduct-v2 {
	box-sizing: content-box;
}

.ecwid .ecwid-productBrowser input {
	display: inline-block;
}

.ecwid .ecwid-productBrowser label {
	vertical-align: middle;
}

.ecwid .ecwid-productBrowser select,
.ecwid .ecwid-productBrowser input {
	background-color: #fff;
	color: #333;
}

/* fix old search widget */
.ecwid-shopping-cart-search .ecwid-SearchPanel .ecwid-SearchPanel-field {
	display: inline-block;
}
.ecwid-shopping-cart-search .ecwid-SearchPanel .ecwid-SearchPanel-field {
	font-size: 14px;
}
.ecwid-shopping-cart-search .ecwid-SearchPanel .ecwid-SearchPanel-button {
	font-size: 14px;
	font-weight: 400;
}


html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2.ecwid-random-product {
	min-width: unset;
}

.ecwid-random-product:not(.loaded) {
	min-height: 290px;	
}

.ecwid-shopping-cart-categories {
	min-height: 51px;
	margin: 10px 0;
}

.ecwid-shopping-cart-search {
	min-height: 42px;
}

#dynamic-ec-store {
	width: 100%;
}
.hide-ec-dynamic-placeholder .ecwid-shopping-cart-product-browser {
	display: none;
}

.ec-demo-notice {
	text-align: center;
}

.ec-demo-notice .ec-notice__wrap {
	background-color:#fcf5e8 !important;
}