.editor-block-list__block[data-type="ecwid/store-block"] .editor-block-list__block-edit {
    text-align: center;
    min-height: 200px;
    background: url('http://localhost/wordpress/49/?file=ecwid_store_svg.svg') no-repeat 50% 30px #F1F1F1;
    outline: 1px solid #E7E7E7;
    background-size: 400px;
}

.ecwid-store-block-icon {
    background: url('../images/ecwid_logo_symbol_RGB.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.ecwid-store-block {
    position: relative;
}

.ecwid-store-block-button {
    font-family: Open Sans, Trebuchet MS, Helvetica, Verdana, sans-serif; 
    position: relative;
    top:135px;
    font-size: 14px;
}