.ecwid-store-block-icon {
    background: url('../images/wordpress_20x20.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.ecwid-store-block {
    position: relative;
}

.ecwid-store-block-button {
    font-family: Open Sans, Trebuchet MS, Helvetica, Verdana, sans-serif; 
    position: relative;
    top:135px;
    font-size: 14px;
}

.ecwid-product-block-icon {
    background: url('../images/gutenberg-block-product.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.ecwid-block {
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans';
    padding: 1em;
    background-color: #f8f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;
}

.ecwid-block > div {
    display: flex;
    justify-content: center;
}

.ecwid-block .ecwid-block-header {
    font-weight: 600;
    margin-bottom: 1em;
}

.ecwid-block .ecwid-block-header svg {
    max-height: 20px;
    margin-right: 1ch;
}

.ecwid-block .ecwid-store-block-icon,
.ecwid-block .ecwid-product-block-icon {
    margin-right: 10px;
}

.ecwid-block .ecwid-block-image {
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.ecwid-block .ecwid-block-image img {
    width: auto;
    max-height: 100%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

.ecwid-block .ecwid-block-title {
    margin-top: 11px;
    margin-bottom: 1em;
}

.ecwid-block .ecwid-block-button {
    font-weight: 400;
}

/*
    Popup styles for selected product block
 */

.ecwid-selected-product {
    font-family: Open Sans, Trebuchet MS, Helvetica, Verdana, sans-serif;
}

.ecwid-selected-product > div {
    display: table-cell;
}

.ecwid-selected-product .ecwid-selected-product-image img {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

.ecwid-selected-product .ecwid-selected-product-image {
    padding-right: 25px;
    vertical-align: top;
}

.ecwid-selected-product .ecwid-selected-product-details {
    vertical-align: middle;
}

.ecwid-selected-product .ecwid-selected-product-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.ecwid-selected-product .ecwid-selected-product-sku {
    font-size: 16px;
    margin-bottom: 1em;
}

.media-frame-content.has-selected-product form,
.media-frame-content.has-selected-product .products,
.media-frame-content.has-selected-product .tablenav
{
    display: none;
}

#ecwid-product-popup-content .media-frame-content.ecwid-selected-product {
    padding-left: 20px;
    padding-top: 40px;
}


.ecwid-store-block-icon {
    background: url('../images/wordpress_20x20.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.ecwid-store-block {
    position: relative;
}

.ecwid-store-block-button {
    font-family: Open Sans, Trebuchet MS, Helvetica, Verdana, sans-serif;
    position: relative;
    top:135px;
    font-size: 14px;
}

.ecwid-product-block-icon {
    background: url('../images/gutenberg-block-product.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.ec-store-block {
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans';
    padding: 1em;
    background-color: #f8f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;
}

.ec-store-block > div {
    display: flex;
    justify-content: center;
}

.ec-store-block .ec-store-block-header {
    font-weight: 600;
    margin-bottom: 1em;
}

.ec-store-block .ec-store-block-header svg {
    max-height: 20px;
    margin-right: 1ch;
}

.ec-store-block .ec-store-store-block-icon,
.ec-store-block .ec-store-product-block-icon {
    margin-right: 10px;
}

.ec-store-block .ec-store-block-image {
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.ec-store-block .ec-store-block-image img {
    width: auto;
    max-height: 100%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

.ec-store-block .ec-store-block-title {
    margin-top: 11px;
    margin-bottom: 1em;
}

.ec-store-block .ec-store-block-button {
    font-weight: 400;
}
