.settings-page input[type=checkbox]:disabled:before {
    content: '';
}

.ec-importer-alert-warning, .ec-importer-alert-warning {
    display: none;
}

[data-ec-importer-state] {
    display: none;
}

[data-ec-importer-state="default"] {
    display: block;
}