/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    color: #363636;
    min-width: 320px; }

.ecwid-thank {
    padding-top: 36px; }
.ecwid-thank h1 {
    text-align: center;
    font-size: 34px;
    color: #000000;
    line-height: 1.4;
    margin-bottom: 30px; }
@media (max-width: 767px) {
    .ecwid-thank h1 {
        font-size: 22px;
        max-width: 490px;
        padding: 0 2%;
        margin: 0 auto 15px; }
    .ecwid-thank h1 br {
        display: none; } }
@media (max-width: 500px) {
    .ecwid-thank h1 {
        max-width: 320px; } }
.ecwid-thank h1 span {
    display: block;
    font-size: 14px;
    text-align: left;
    max-width: 500px;
    margin: 14px auto; }

.ecwid-thank-steps {
    margin: 0 auto 51px;
    max-width: 1000px; }
@media (max-width: 767px) {
    .ecwid-thank-steps {
        max-width: 450px;
        margin-bottom: 0;
        padding: 0 2%; } }
.ecwid-thank-steps:after {
    content: "";
    display: table;
    clear: both; }

.ecwid-thank-step {
    text-align: center;
    width: 33.33333%;
    float: left;
    position: relative;
    padding: 0 2%; }
.ecwid-thank-step.active .ecwid-thank-step-image:before {
    position: absolute;
    content: url("../images/landing/correct.svg");
    width: 17px;
    left: 61%; }
.ecwid-thank-step.active .ecwid-thank-step-image img.none-active {
    display: none; }
.ecwid-thank-step.active .ecwid-thank-step-image img.active {
    display: inline-block; }
@media (max-width: 767px) {
    .ecwid-thank-step {
        display: none; } }
.ecwid-thank-step .ecwid-thank-step-image {
    height: 92px;
    position: relative; }
.ecwid-thank-step .ecwid-thank-step-image:after {
    content: "";
    position: absolute;
    overflow: hidden; }
@media (min-width: 768px) {
    .ecwid-thank-step .ecwid-thank-step-image:after {
        top: 40px;
        left: 77%;
        width: 64%;
        height: 7px;
        background: url("../images/landing/arrow.png") center right; } }
.ecwid-thank-step img {
    margin: 3px 0 10px; }
.ecwid-thank-step img.active {
    display: none; }
.ecwid-thank-step h2 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 6px; }
.ecwid-thank-step p {
    font-size: 14px;
    line-height: 1.5; }
.ecwid-thank-step.ecwid-thank-step-one img {
    height: 77px; }
.ecwid-thank-step.ecwid-thank-step-two img {
    height: 60px;
    margin-top: 13px; }
.ecwid-thank-step.ecwid-thank-step-three .ecwid-thank-step-image:after {
    display: none; }
.ecwid-thank-step.ecwid-thank-step-three h2 {
    font-weight: 600; }
.ecwid-thank-step.ecwid-thank-step-three img {
    height: 82px; }

.ecwid-thank-background {
    background: url("../images/landing/background-think.jpg");
    background-size: cover; }
@media (min-width: 768px) {
    .ecwid-thank-background {
        background-position: center bottom; } }
@media (min-width: 1440px) {
    .ecwid-thank-background {
        background-position: left bottom; } }
.ecwid-thank-background .ecwid-thank-background-tablet {
    padding: 52px 5% 0; }
.ecwid-thank-background .ecwid-thank-background-tablet img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }

.ecwid-description {
    padding: 0 2%; }
.ecwid-description:after {
    content: "";
    display: table;
    clear: both; }

.ecwid-description-inner {
    max-width: 930px;
    margin: 0 auto;
    table-layout: fixed;
    width: 100%; }
@media (min-width: 768px) {
    .ecwid-description-inner {
        display: table;
        padding-top: 35px; } }
@media (min-width: 992px) {
    .ecwid-description-inner {
        padding-top: 95px; } }
@media (max-width: 767px) {
    .ecwid-description-inner {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }

.ecwid-description-image {
    padding-right: 5%;
    vertical-align: bottom; }
@media (min-width: 768px) {
    .ecwid-description-image {
        display: table-cell;
        width: 60%; } }
@media (min-width: 992px) {
    .ecwid-description-image {
        width: 65%; } }
@media (max-width: 767px) {
    .ecwid-description-image {
        width: 100%;
        padding: 0 4%; } }
.ecwid-description-image img {
    display: block;
    max-width: 100%; }
@media (max-width: 767px) {
    .ecwid-description-image img {
        margin: 0 auto; } }

.ecwid-description-text {
    padding-top: 35px;
    padding-bottom: 35px; }
@media (min-width: 768px) {
    .ecwid-description-text {
        width: 40%;
        display: table-cell;
        vertical-align: middle; } }
@media (min-width: 992px) {
    .ecwid-description-text {
        width: 35%;
        vertical-align: baseline; } }
@media (max-width: 767px) {
    .ecwid-description-text {
        padding: 44px 4% 0;
        max-width: 500px;
        margin: 0 auto 50px;
        width: 100%; } }
.ecwid-description-text h2 {
    line-height: 1.2;
    margin-bottom: 18px; }
@media (min-width: 768px) {
    .ecwid-description-text h2 {
        font-size: 24px; } }
@media (min-width: 992px) {
    .ecwid-description-text h2 {
        font-size: 28px; } }
@media (max-width: 767px) {
    .ecwid-description-text h2 {
        font-size: 22px;
        text-align: center; } }
.ecwid-description-text p {
    font-size: 14px;
    line-height: 1.5;
    padding: 0.8em 0; }

.ecwid-features {
    background-color: #F4F4F4;
    padding: 44px 0 60px; }
@media (max-width: 767px) {
    .ecwid-features {
        padding-bottom: 9px; } }
.ecwid-features h2 {
    font-size: 28px;
    color: #1F1F1F;
    font-weight: 400;
    text-align: center;
    margin-bottom: 62px; }
@media (max-width: 767px) {
    .ecwid-features h2 {
        font-size: 22px;
        margin-bottom: 40px; } }

.ecwid-features-inner {
    margin: 0 auto;
    max-width: 930px;
    padding: 0 3%; }

.ecwid-features-top {
    margin-bottom: 70px; }
@media (max-width: 767px) {
    .ecwid-features-top {
        margin-bottom: 0; } }
.ecwid-features-top:after {
    content: "";
    display: table;
    clear: both; }
.ecwid-features-top .ecwid-features-top-item {
    width: 50%;
    float: left;
    text-align: center; }
@media (max-width: 767px) {
    .ecwid-features-top .ecwid-features-top-item {
        padding: 0 2%;
        width: 100%;
        max-width: 320px;
        margin: 0 auto 35px;
        float: none; } }
.ecwid-features-top .ecwid-features-top-item .ecwid-features-top-item-image {
    height: 82px; }
@media (max-width: 767px) {
    .ecwid-features-top .ecwid-features-top-item .ecwid-features-top-item-image {
        height: 75px; } }
.ecwid-features-top .ecwid-features-top-item img {
    height: 61px;
    margin-bottom: 36px; }
@media (max-width: 767px) {
    .ecwid-features-top .ecwid-features-top-item img {
        margin-bottom: 20px; } }
.ecwid-features-top .ecwid-features-top-item img.gift {
    height: 80px;
    margin-top: -10px; }
.ecwid-features-top .ecwid-features-top-item h3 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 15px; }
@media (max-width: 767px) {
    .ecwid-features-top .ecwid-features-top-item h3 {
        font-size: 18px;
        margin-bottom: 6px; } }
.ecwid-features-top .ecwid-features-top-item p {
    font-size: 14px;
    line-height: 1.45; }
@media (max-width: 767px) {
    .ecwid-features-top .ecwid-features-top-item p {
        font-size: 13px; } }

.ecwid-features-bottom:after {
    content: "";
    display: table;
    clear: both; }
.ecwid-features-bottom .ecwid-features-bottom-item {
    width: 33.33333%;
    float: left;
    text-align: center; }
@media (max-width: 767px) {
    .ecwid-features-bottom .ecwid-features-bottom-item {
        float: none;
        width: 100%;
        max-width: 270px;
        margin: 0 auto 35px; } }
.ecwid-features-bottom .ecwid-features-bottom-item .ecwid-features-bottom-item-image {
    height: 82px; }
@media (max-width: 767px) {
    .ecwid-features-bottom .ecwid-features-bottom-item .ecwid-features-bottom-item-image {
        height: 75px; } }
.ecwid-features-bottom .ecwid-features-bottom-item img {
    height: 63px;
    margin-bottom: 17px; }
.ecwid-features-bottom .ecwid-features-bottom-item img.secure {
    height: 67px; }
@media (min-width: 768px) {
    .ecwid-features-bottom .ecwid-features-bottom-item img.secure {
        margin-top: -8px; } }
.ecwid-features-bottom .ecwid-features-bottom-item h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px; }
.ecwid-features-bottom .ecwid-features-bottom-item p {
    font-size: 14px;
    line-height: 1.45; }
@media (max-width: 767px) {
    .ecwid-features-bottom .ecwid-features-bottom-item p {
        font-size: 13px; }
    .ecwid-features-bottom .ecwid-features-bottom-item p br {
        display: none; } }

.ecwid-start {
    text-align: center;
    padding: 64px 0 194px; }
@media (max-width: 767px) {
    .ecwid-start {
        padding: 44px 0 64px; }
    .ecwid-start .ecwid-button .button {
        margin-bottom: 29px; } }
.ecwid-start:after {
    content: "";
    display: table;
    clear: both; }
.ecwid-start h2 {
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 32px; }
@media (max-width: 767px) {
    .ecwid-start h2 {
        font-size: 22px;
        padding: 0 2%;
        margin-bottom: 1px; } }

.ecwid-button {
    text-align: center; }
.ecwid-button a,
.ecwid-button button {
		background-image: none; }
.ecwid-button .button {
    border-radius: 4px;
    border: 0;
    font-size: 20px;
    color: #ffffff;
    line-height: 2.6;
    letter-spacing: 0.01em;
    padding: 0.12em 1.5em;
    margin-bottom: 46px;
    outline: none;
    cursor: pointer; }
@media (max-width: 767px) {
    .ecwid-button .button {
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 14px;
        padding: 0.12em 1em; } }
@media (max-width: 500px) {
    .ecwid-button .button {
        font-size: 16px; } }
.ecwid-button .button:hover {
    opacity: 0.8; }
.ecwid-button .button.button--blue {
    background-color: #189DEE; }
.ecwid-button .button.button--green {
    background-color: #59BB00; }
.ecwid-button .button-description-mobile {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 38px;
    color: #999; }
.ecwid-button .button-description-mobile h3 {
    font-size: 18px;
    color: #363636;
    font-weight: 600;
    margin-bottom: -70px; }
@media (min-width: 768px) {
    .ecwid-button .button-description-mobile {
        display: none; } }
.ecwid-button .ecwid-button-description {
    font-size: 14px; }
.ecwid-button .ecwid-button-description a {
    display: block;
    font-size: 20px;
    color: #288FB5;
    margin-top: 12px;
    text-decoration: none; }
.ecwid-button .ecwid-button-description a:hover {
    opacity: 0.8; }
@media (max-width: 767px) {
    .ecwid-button .ecwid-button-description a {
        margin-bottom: 10px;
        font-size: 18px; } }


/*
 * Adapt landing to wordpress actual environment
 */
.ecwid-button .button {
    height: auto;
}

#wpcontent {
    padding-left: 0px;
}
.ecwid-landing {
    background: white;
}
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after
{
    border-right-color:white;
}

.ecwid-landing .on-error {
    display: none;
}

.ecwid-landing.conn-error .on-error {
    display: inherit;
}

.ecwid-landing.conn-error .on-no-error {
    display: none;
}

.ecwid-button .ecwid-connection-error {
    color: red;
}

@media (min-width: 768px) {
    .ecwid-button .ecwid-connection-error {
        position: relative;
        margin-bottom: 8px;
    }
}

.ecwid-landing a:focus {
    outline: 0px none;
    box-shadow: none;
}

.ecwid-landing .button:hover {
    color: white;
}

.ecwid-landing .ecwid-button .btn {
    width: 300px;
    margin-bottom: 40px;
    height: 59px;
    font-size: 20px;
}

.ecwid-button .create-store-loading,
.ecwid-button .create-store-loading-note,
.ecwid-button .create-store-success-note,
.ecwid-button .create-store-success {
    display: none;
}

.ecwid-button .create-store-loading-note,
.ecwid-button .create-store-success-note
{
    margin-top: -20px;
    margin-bottom: 32px;
}


/* loose copy of ecwid css framework */

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,latin-ext,cyrillic');

.btn {
    font-family: 'Open Sans';
}

@keyframes spinleft {
  0% {
    transform: rotate(360deg); }

  100% {
    transform: rotate(0deg); } }

@-webkit-keyframes spinleft {
  0% {
    -webkit-transform: rotate(360deg); }

  100% {
    -webkit-transform: rotate(0deg); } }

@keyframes spinright {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes spinright {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

/* Iconic font */
@font-face {
    font-family: 'font_icons';
    src: url('//s3.amazonaws.com/myecwidcom-static/static/fonts/icons/v13/fontIcons.eot');
    src: url('//s3.amazonaws.com/myecwidcom-static/static/fonts/icons/v13/fontIcons.eot?#iefix') format('embedded-opentype'), url('//s3.amazonaws.com/myecwidcom-static/static/fonts/icons/v13/fontIcons.ttf') format('truetype'), url('//s3.amazonaws.com/myecwidcom-static/static/fonts/icons/v13/fontIcons.woff') format('woff'), url('//s3.amazonaws.com/myecwidcom-static/static/fonts/icons/v13/fontIcons.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal; }

.ecwid-button [class*="icon-"] {
    display: inline-block;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'font_icons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color .1s linear;
    transition: color .1s linear; }

.icon-odn:before {
    content: "\e639"; }

.icon-vk:before {
    content: "\e63a"; }

.icon-customer_groups:before {
    content: "\e62e"; }

.icon-unfinished:before {
    content: "\e62d"; }

.icon-table_cake:before {
    content: "\e62c"; }

.icon-coupons:before {
    content: "\e63b"; }

.icon-discounts:before {
    content: "\e63c"; }

.icon-marketplaces:before {
    content: "\e63d"; }

.icon-odn:before {
    content: "\e639"; }

.icon-vk:before {
    content: "\e63a"; }

.icon-appointment:before {
    content: "\e62b"; }

.icon-trash:before {
    content: "\e62a"; }

.icon-lock:before {
    content: "\e621"; }

.icon-letter:before {
    content: "\e629"; }

.icon-vend:before {
    content: "\e628"; }

.icon-apple:before {
    content: "\e624"; }

.icon-discount:before {
    content: "\e625"; }

.icon-bag:before {
    content: "\e626"; }

.icon-phone:before {
    content: "\e627"; }

.icon-speaker:before {
    content: "\e622"; }

.icon-warning:before {
    content: "\e623"; }

.icon-lock:before {
    content: "\e621"; }

.icon-radiobutton-checked:before {
    content: "\e61e"; }

.icon-radiobutton-unchecked:before {
    content: "\e61f"; }

.icon-update:before {
    content: "\e620"; }

.icon-settings:before {
    content: "\e619"; }

.icon-main-menu:before {
    content: "\e61a"; }

.icon-sales:before {
    content: "\e61b"; }

.icon-chart:before {
    content: "\e61c"; }

.icon-home:before {
    content: "\e61d"; }

.icon-print:before {
    content: "\e618"; }

.icon-search:before {
    content: "\e617"; }

.icon-calendar:before {
    content: "\e616"; }

.icon-show:before {
    content: "\e010"; }

.icon-hide:before {
    content: "\e011"; }

.icon-star:before {
    content: "\e615"; }

.icon-edit:before {
    content: "\e614"; }

.icon-categories:before {
    content: "\e613"; }

.icon-arrange:before {
    content: "\e612"; }

.icon-menu:before {
    content: "\e611"; }

.icon-import:before {
    content: "\e610"; }

.icon-gallery:before {
    content: "\e60f"; }

.icon-enable-all:before {
    content: "\e60e"; }

.icon-disable-all:before {
    content: "\e60d"; }

.icon-next:before {
    content: "\e000"; }

.icon-previous:before {
    content: "\e00a"; }

.icon-store:before {
    content: "\e001"; }

.icon-megaphone:before {
    content: "\e002"; }

.icon-product:before {
    content: "\e003"; }

.icon-geo:before {
    content: "\e004"; }

.icon-shipping:before {
    content: "\e005"; }

.icon-payments:before {
    content: "\e006"; }

.icon-launch:before {
    content: "\e007"; }

.icon-share:before {
    content: "\e008"; }

.icon-facebook:before {
    content: "\e009"; }

.icon-fb:before {
    content: "\e00b"; }

.icon-twitter:before {
    content: "\e00c"; }

.icon-chain:before {
    content: "\e00d"; }

.icon-checkmark:before {
    content: "\e00f"; }

.icon-close:before {
    content: "\e014"; }

.icon-sort:before {
    content: "\f0dc"; }

.icon-box:before {
    content: "\e00e"; }

.icon-cloud:before {
    content: "\e012"; }

.icon-rates:before {
    content: "\e015"; }

.icon-upload:before {
    content: "\e013"; }

.icon-arr-down:before {
    content: "\e018"; }

.icon-dropdown:before {
    content: "\e016"; }

.icon-cash:before {
    content: "\e019"; }

.icon-check:before {
    content: "\e01a"; }

.icon-google:before {
    content: "\e600"; }

.icon-paypal:before {
    content: "\e601"; }

.icon-envelope:before {
    content: "\e603"; }

.icon-help:before {
    content: "\e602"; }

.icon-chat:before {
    content: "\e604"; }

.icon-arr-left:before {
    content: "\e605"; }

.icon-arr-right:before {
    content: "\e606"; }

.icon-arr-up:before {
    content: "\e609"; }

.icon-open:before {
    content: "\e608"; }

.icon-user:before {
    content: "\e607"; }

.icon-tumbler:before {
    content: "\e60a"; }

.icon-taxes:before {
    content: "\e60b"; }

.icon-ecwid:before {
    content: "\e60c"; }

.btn {
    display: inline-block;
    margin: 0;
    border: 1px solid transparent;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    *display: inline;
    *margin-left: .3em;
    *zoom: 1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.813em;
    padding: 4px 10px;
    border-radius: 3px;
    line-height: 1.7em;
    height: 2.462em;
    min-width: 7.385em;
    color: #333;
    background-color: #f6f6f6;
    border-color: transparent;
    -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear; }
.btn:focus, .btn.focus, .btn.btn-loading, .btn.btn-loading:hover, .btn.btn-loading:focus, .btn.btn-loading:focus:hover, .btn.btn-loading:active, .btn.btn-loading:focus:active, .btn-group.opened .btn.btn-dropdown {
    border-width: 2px;
    padding: 3px 9px; }
.btn:hover {
    background-color: #c4c4c4; }
.btn:focus {
    border-color: #acacac; }
.btn:focus:hover {
    background-color: #c4c4c4; }
.btn:active {
    background-color: #f7f7f7; }
.btn:focus:active {
    background-color: #f7f7f7; }
.btn.btn-loading, .btn.btn-loading:hover, .btn.btn-loading:focus, .btn.btn-loading:focus:hover, .btn.btn-loading:active, .btn.btn-loading:focus:active {
    position: relative;
    background-color: #f7f7f7;
    border-color: transparent;
    overflow: visible; }
.btn-group.opened .btn.btn-dropdown {
    border-color: #acacac; }
.btn.btn-loading .loader-inner, .btn.btn-loading .loader-outer, .btn.btn-loading:hover .loader-inner, .btn.btn-loading:hover .loader-outer, .btn.btn-loading:focus .loader-inner, .btn.btn-loading:focus .loader-outer, .btn.btn-loading:focus:hover .loader-inner, .btn.btn-loading:focus:hover .loader-outer, .btn.btn-loading:active .loader-inner, .btn.btn-loading:active .loader-outer, .btn.btn-loading:focus:active .loader-inner, .btn.btn-loading:focus:active .loader-outer {
    fill: #f7f7f7; }
.btn:first-child {
    *margin-left: 0; }
.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled]:focus:hover, .btn[disabled]:active, .btn[disabled]:focus:active {
    cursor: default;
    opacity: .3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
.btn.btn-loading:before, .btn.btn-loading:hover:before, .btn.btn-loading:focus:before, .btn.btn-loading:focus:hover:before, .btn.btn-loading:active:before, .btn.btn-loading:focus:active:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out; }

/* buttons' sizes */
.btn-large {
    font-size: 1.063em;
    padding: 4px 16px;
    border-radius: 5px;
    line-height: 2.118em;
    height: 2.824em;
    min-width: 8.471em; }
.btn-large:focus, .btn-large.focus, .btn-large.btn.btn-loading, .btn-large.btn.btn-loading:focus:hover, .btn-large.btn.btn-loading:focus:active, .btn-large.btn-default.btn-loading, .btn-large.btn-loading.btn-icon, .btn-large.btn-default.btn-loading:focus:hover, .btn-large.btn-loading.btn-icon:focus:hover, .btn-large.btn-default.btn-loading:focus:active, .btn-large.btn-loading.btn-icon:focus:active, .btn-group.opened .btn-large.btn-dropdown {
    border-width: 2px;
    padding: 3px 15px; }

.btn-medium {
    font-size: 0.875em;
    padding: 4px 12px;
    border-radius: 3px;
    line-height: 1.7em;
    height: 2.857em;
    min-width: 8.571em; }
.btn-medium:focus, .btn-medium.focus, .btn-medium.btn.btn-loading, .btn-medium.btn.btn-loading:focus:hover, .btn-medium.btn.btn-loading:focus:active, .btn-medium.btn-default.btn-loading, .btn-medium.btn-loading.btn-icon, .btn-medium.btn-default.btn-loading:focus:hover, .btn-medium.btn-loading.btn-icon:focus:hover, .btn-medium.btn-default.btn-loading:focus:active, .btn-medium.btn-loading.btn-icon:focus:active, .btn-group.opened .btn-medium.btn-dropdown {
    border-width: 2px;
    padding: 3px 11px; }

.btn-small {
    font-size: 0.755em;
    padding: 3px 8px;
    border-radius: 3px;
    line-height: 1.4em;
    height: 2.333em;
    min-width: 7em; }
.btn-small:focus, .btn-small.focus, .btn-small.btn.btn-loading, .btn-small.btn.btn-loading:focus:hover, .btn-small.btn.btn-loading:focus:active, .btn-small.btn-default.btn-loading, .btn-small.btn-loading.btn-icon, .btn-small.btn-default.btn-loading:focus:hover, .btn-small.btn-loading.btn-icon:focus:hover, .btn-small.btn-default.btn-loading:focus:active, .btn-small.btn-loading.btn-icon:focus:active, .btn-group.opened .btn-small.btn-dropdown {
    border-width: 2px;
    padding: 2px 7px; }

/* buttons' types */
.btn-default, .btn-icon {
    background-color: #f6f6f6;
    color: #333;
    border-color: #cccccc; }
.btn-default:hover, .btn-icon:hover {
    background-color: #fff;
    color: #137ebe;
    border-color: #89bede; }
.btn-default:focus, .btn-icon:focus, .btn-default.focus, .focus.btn-icon, .btn-group.opened .btn-icon.btn-dropdown, .btn-group.opened .btn-default.btn-dropdown {
    background-color: #eaf2f7;
    border-color: #b3cad5; }
.btn-default:focus:hover, .btn-icon:focus:hover {
    background-color: #fff;
    border-color: #137ebe; }
.btn-default:active, .btn-icon:active {
    background-color: #fff;
    color: #5ebbf3;
    border-color: #aeddf9; }
.btn-default:focus:active, .btn-icon:focus:active {
    background-color: #fff;
    border-color: #5ebbf3; }
.btn-default.btn-loading, .btn-loading.btn-icon, .btn-default.btn-loading:hover, .btn-loading.btn-icon:hover, .btn-default.btn-loading:focus, .btn-loading.btn-icon:focus, .btn-default.btn-loading:focus:hover, .btn-loading.btn-icon:focus:hover, .btn-default.btn-loading:active, .btn-loading.btn-icon:active, .btn-default.btn-loading:focus:active, .btn-loading.btn-icon:focus:active {
    position: relative;
    background-color: #aeddf9;
    border-color: #aeddf9;
    overflow: visible; }
.btn-default.btn-loading .loader-inner, .btn-loading.btn-icon .loader-inner, .btn-default.btn-loading .loader-outer, .btn-loading.btn-icon .loader-outer, .btn-default.btn-loading:hover .loader-inner, .btn-loading.btn-icon:hover .loader-inner, .btn-default.btn-loading:hover .loader-outer, .btn-loading.btn-icon:hover .loader-outer, .btn-default.btn-loading:focus .loader-inner, .btn-loading.btn-icon:focus .loader-inner, .btn-default.btn-loading:focus .loader-outer, .btn-loading.btn-icon:focus .loader-outer, .btn-default.btn-loading:focus:hover .loader-inner, .btn-loading.btn-icon:focus:hover .loader-inner, .btn-default.btn-loading:focus:hover .loader-outer, .btn-loading.btn-icon:focus:hover .loader-outer, .btn-default.btn-loading:active .loader-inner, .btn-loading.btn-icon:active .loader-inner, .btn-default.btn-loading:active .loader-outer, .btn-loading.btn-icon:active .loader-outer, .btn-default.btn-loading:focus:active .loader-inner, .btn-loading.btn-icon:focus:active .loader-inner, .btn-default.btn-loading:focus:active .loader-outer, .btn-loading.btn-icon:focus:active .loader-outer {
    fill: #aeddf9; }

.btn-default[disabled], [disabled].btn-icon, .btn-default[disabled]:hover, [disabled].btn-icon:hover, .btn-default[disabled]:focus, [disabled].btn-icon:focus, .btn-default[disabled]:focus:hover, [disabled].btn-icon:focus:hover, .btn-default[disabled]:active, [disabled].btn-icon:active, .btn-default[disabled]:focus:active, [disabled].btn-icon:focus:active {
    background-color: #f6f6f6;
    color: #333;
    border-color: transparent;
    border-color: #cccccc; }

.btn-alt {
    background-color: #fff;
    color: #333; }
.btn-alt:hover {
    background-color: #edf8ff;
    color: #137ebe; }
.btn-alt:active {
    background-color: #fff;
    color: #54bfd6; }
.btn-alt:focus {
    border-color: #fff;
    background-color: #d3e6f1; }
.btn-alt:focus:hover {
    background-color: #dce6ed; }
.btn-alt:focus:active {
    background-color: #fff; }

.btn-alt[disabled], .btn-alt[disabled]:hover, .btn-alt[disabled]:focus, .btn-alt[disabled]:focus:hover, .btn-alt[disabled]:active, .btn-alt[disabled]:focus:active {
    background-color: #fff;
    color: #333;
    border-color: transparent; }

/* btn-primary */
.btn-primary,
.ecwid-button .btn-primary {
    color: #fff;
    background-color: #189dee;
    border-color: transparent; }
.btn-primary:hover {
    background-color: #137dbe; }
.btn-primary:focus {
    border-color: #106da6; }
.btn-primary:focus:hover {
    background-color: #137dbe; }
.btn-primary:active {
    background-color: #46b0f1; }
.btn-primary:focus:active {
    background-color: #46b0f1; }
.btn-primary.btn.btn-loading, .btn-primary.btn.btn-loading:focus:hover, .btn-primary.btn.btn-loading:focus:active, .btn-primary.btn-default.btn-loading, .btn-primary.btn-loading.btn-icon, .btn-primary.btn-default.btn-loading:focus:hover, .btn-primary.btn-loading.btn-icon:focus:hover, .btn-primary.btn-default.btn-loading:focus:active, .btn-primary.btn-loading.btn-icon:focus:active {
    position: relative;
    background-color: #46b0f1;
    border-color: transparent;
    overflow: visible; }
.btn-group.opened .btn-primary.btn-dropdown {
    border-color: #106da6; }
.btn-primary.btn-loading .loader-inner, .btn-primary.btn-loading .loader-outer, .btn-primary.btn-loading:hover .loader-inner, .btn-primary.btn-loading:hover .loader-outer, .btn-primary.btn-loading:focus .loader-inner, .btn-primary.btn-loading:focus .loader-outer, .btn-primary.btn-loading:focus:hover .loader-inner, .btn-primary.btn-loading:focus:hover .loader-outer, .btn-primary.btn-loading:active .loader-inner, .btn-primary.btn-loading:active .loader-outer, .btn-primary.btn-loading:focus:active .loader-inner, .btn-primary.btn-loading:focus:active .loader-outer {
    fill: #46b0f1; }

.btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:focus:hover, .btn-primary[disabled]:active, .btn-primary[disabled]:focus:active {
    background-color: #189dee;
    color: #fff;
    border-color: transparent; }

/* btn-success */
.btn-success,
.ecwid-button .btn-success {
    color: #fff;
    background-color: #64a52f;
    border-color: transparent; }
.btn-success:hover {
    background-color: #508425; }
.btn-success:focus {
    border-color: #467320; }
.btn-success:focus:hover {
    background-color: #508425; }
.btn-success:active {
    background-color: #83b758; }
.btn-success:focus:active {
    background-color: #83b758; }
.btn-success.btn.btn-loading, .btn-success.btn.btn-loading:focus:hover, .btn-success.btn.btn-loading:focus:active, .btn-success.btn-default.btn-loading, .btn-success.btn-loading.btn-icon, .btn-success.btn-default.btn-loading:focus:hover, .btn-success.btn-loading.btn-icon:focus:hover, .btn-success.btn-default.btn-loading:focus:active, .btn-success.btn-loading.btn-icon:focus:active {
    position: relative;
    background-color: #83b758;
    border-color: transparent;
    overflow: visible; }
.btn-group.opened .btn-success.btn-dropdown {
    border-color: #467320; }
.btn-success.btn-loading .loader-inner, .btn-success.btn-loading .loader-outer, .btn-success.btn-loading:hover .loader-inner, .btn-success.btn-loading:hover .loader-outer, .btn-success.btn-loading:focus .loader-inner, .btn-success.btn-loading:focus .loader-outer, .btn-success.btn-loading:focus:hover .loader-inner, .btn-success.btn-loading:focus:hover .loader-outer, .btn-success.btn-loading:active .loader-inner, .btn-success.btn-loading:active .loader-outer, .btn-success.btn-loading:focus:active .loader-inner, .btn-success.btn-loading:focus:active .loader-outer {
    fill: #83b758; }

.btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:focus:hover, .btn-success[disabled]:active, .btn-success[disabled]:focus:active {
    background-color: #64a52f;
    color: #fff;
    border-color: transparent; }

/* btn-info */
.btn-info {
    color: #fff;
    background-color: #1baecd;
    border-color: transparent; }
.btn-info:hover {
    background-color: #158ba4; }
.btn-info:focus {
    border-color: #12798f; }
.btn-info:focus:hover {
    background-color: #158ba4; }
.btn-info:active {
    background-color: #48bed7; }
.btn-info:focus:active {
    background-color: #48bed7; }
.btn-info.btn.btn-loading, .btn-info.btn.btn-loading:focus:hover, .btn-info.btn.btn-loading:focus:active, .btn-info.btn-default.btn-loading, .btn-info.btn-loading.btn-icon, .btn-info.btn-default.btn-loading:focus:hover, .btn-info.btn-loading.btn-icon:focus:hover, .btn-info.btn-default.btn-loading:focus:active, .btn-info.btn-loading.btn-icon:focus:active {
    position: relative;
    background-color: #48bed7;
    border-color: transparent;
    overflow: visible; }
.btn-group.opened .btn-info.btn-dropdown {
    border-color: #12798f; }
.btn-info.btn-loading .loader-inner, .btn-info.btn-loading .loader-outer, .btn-info.btn-loading:hover .loader-inner, .btn-info.btn-loading:hover .loader-outer, .btn-info.btn-loading:focus .loader-inner, .btn-info.btn-loading:focus .loader-outer, .btn-info.btn-loading:focus:hover .loader-inner, .btn-info.btn-loading:focus:hover .loader-outer, .btn-info.btn-loading:active .loader-inner, .btn-info.btn-loading:active .loader-outer, .btn-info.btn-loading:focus:active .loader-inner, .btn-info.btn-loading:focus:active .loader-outer {
    fill: #48bed7; }

.btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:focus:hover, .btn-info[disabled]:active, .btn-info[disabled]:focus:active {
    background-color: #1baecd;
    color: #fff;
    border-color: transparent; }

/* btn-info-light */
.btn-info-light {
    color: #fff;
    background-color: #99d5e1;
    border-color: transparent; }
.btn-info-light:hover {
    background-color: #7aaab4; }
.btn-info-light:focus {
    border-color: #6b959d; }
.btn-info-light:focus:hover {
    background-color: #7aaab4; }
.btn-info-light:active {
    background-color: #addde7; }
.btn-info-light:focus:active {
    background-color: #addde7; }
.btn-info-light.btn.btn-loading, .btn-info-light.btn.btn-loading:focus:hover, .btn-info-light.btn.btn-loading:focus:active, .btn-info-light.btn-default.btn-loading, .btn-info-light.btn-loading.btn-icon, .btn-info-light.btn-default.btn-loading:focus:hover, .btn-info-light.btn-loading.btn-icon:focus:hover, .btn-info-light.btn-default.btn-loading:focus:active, .btn-info-light.btn-loading.btn-icon:focus:active {
    position: relative;
    background-color: #addde7;
    border-color: transparent;
    overflow: visible; }
.btn-group.opened .btn-info-light.btn-dropdown {
    border-color: #6b959d; }
.btn-info-light.btn-loading .loader-inner, .btn-info-light.btn-loading .loader-outer, .btn-info-light.btn-loading:hover .loader-inner, .btn-info-light.btn-loading:hover .loader-outer, .btn-info-light.btn-loading:focus .loader-inner, .btn-info-light.btn-loading:focus .loader-outer, .btn-info-light.btn-loading:focus:hover .loader-inner, .btn-info-light.btn-loading:focus:hover .loader-outer, .btn-info-light.btn-loading:active .loader-inner, .btn-info-light.btn-loading:active .loader-outer, .btn-info-light.btn-loading:focus:active .loader-inner, .btn-info-light.btn-loading:focus:active .loader-outer {
    fill: #addde7; }

.btn-info-light[disabled], .btn-info-light[disabled]:hover, .btn-info-light[disabled]:focus, .btn-info-light[disabled]:focus:hover, .btn-info-light[disabled]:active, .btn-info-light[disabled]:focus:active {
    background-color: #99d5e1;
    color: #fff;
    border-color: transparent; }

/* btn-warning */
.btn-warning {
    color: #fff;
    background-color: #bfa454;
    border-color: transparent; }
.btn-warning:hover {
    background-color: #988343; }
.btn-warning:focus {
    border-color: #85723a; }
.btn-warning:focus:hover {
    background-color: #988343; }
.btn-warning:active {
    background-color: #cbb676; }
.btn-warning:focus:active {
    background-color: #cbb676; }
.btn-warning.btn.btn-loading, .btn-warning.btn.btn-loading:focus:hover, .btn-warning.btn.btn-loading:focus:active, .btn-warning.btn-default.btn-loading, .btn-warning.btn-loading.btn-icon, .btn-warning.btn-default.btn-loading:focus:hover, .btn-warning.btn-loading.btn-icon:focus:hover, .btn-warning.btn-default.btn-loading:focus:active, .btn-warning.btn-loading.btn-icon:focus:active {
    position: relative;
    background-color: #cbb676;
    border-color: transparent;
    overflow: visible; }
.btn-group.opened .btn-warning.btn-dropdown {
    border-color: #85723a; }
.btn-warning.btn-loading .loader-inner, .btn-warning.btn-loading .loader-outer, .btn-warning.btn-loading:hover .loader-inner, .btn-warning.btn-loading:hover .loader-outer, .btn-warning.btn-loading:focus .loader-inner, .btn-warning.btn-loading:focus .loader-outer, .btn-warning.btn-loading:focus:hover .loader-inner, .btn-warning.btn-loading:focus:hover .loader-outer, .btn-warning.btn-loading:active .loader-inner, .btn-warning.btn-loading:active .loader-outer, .btn-warning.btn-loading:focus:active .loader-inner, .btn-warning.btn-loading:focus:active .loader-outer {
    fill: #cbb676; }

.btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:focus:hover, .btn-warning[disabled]:active, .btn-warning[disabled]:focus:active {
    background-color: #bfa454;
    color: #fff;
    border-color: transparent; }

/* btn-inverse */
.btn-inverse, .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active {
    color: #333; }

/* icons on btn */
.btn [class*="icon-"] {
    color: inherit;
    padding-right: 0.688em;
    vertical-align: text-top;
    font-size: 1.143em;
    margin-top: 1px;
    opacity: .8; }

.btn-left-caret [class*="icon-"] {
    float: left;
    margin-top: 4px;
    padding-right: 8px; }

.btn-small.btn-left-caret [class*="icon-"] {
    float: left;
    margin-top: 1px;
    padding-right: 7px; }

.btn-medium.btn-left-caret [class*="icon-"] {
    float: left;
    margin-top: 4px; }

.btn-large.btn-left-caret [class*="icon-"] {
    float: left;
    margin-top: 8px;
    padding-right: 10px; }

/* btn-icon */
.btn-icon {
    min-width: 40px; }
.btn-icon.btn-large {
    min-width: 60px; }
.btn-icon.btn-medium {
    min-width: 45px; }
.btn-icon.btn-small {
    min-width: 30px; }
.btn-icon [class*='icon-'] {
    padding: 0; }

/* button group */
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
.btn-group > .btn {
    position: relative;
    float: left; }
.btn-group > .btn:focus {
    outline: 0;
    z-index: 1; }

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px; }

.btn-group > .btn:not(:first-child):not(:last-child):not(.btn-dropdown) {
    border-radius: 0; }

.btn-group > .btn:first-child {
    margin-left: 0; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.btn-group > .btn:last-child:not(:first-child), .btn-group > .btn-dropdown:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.btn-group .btn-dropdown {
    min-width: 30px;
    vertical-align: middle; }
.btn-group .btn-dropdown [class*='icon-'] {
    font-size: .3em;
    vertical-align: middle;
    margin-top: -2px;
    padding: 0; }

.btn-group .list-dropdown {
    top: 100%;
    right: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 1px 4px #b5b5b5;
    display: none; }

.opened > .list-dropdown {
    display: block; }

.btn-group .btn-dropdown {
    border-left-color: rgba(255, 255, 255, 0.6); }
.btn-group .btn-dropdown.btn-default, .btn-group .btn-dropdown.btn-icon {
    border-color: #cccccc; }

.normalized .form-control, .normalized .input-prefix-suffix {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    outline: 0;
    border: 1px solid #c7c7c7;
    background-color: #fafbfc;
    color: #606060;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.813em;
    padding: 4px 8px;
    border-radius: 3px;
    line-height: 1.75em;
    height: 2.462em;
    -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear, box-shadow 0.1s linear;
    transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear, box-shadow 0.1s linear; }
.normalized .form-control:focus, .normalized .input-prefix-suffix:focus, .normalized .form-control.focus, .normalized .focus.input-prefix-suffix {
    border-width: 2px;
    padding: 3px 7px; }
.normalized .form-control:hover, .normalized .input-prefix-suffix:hover {
    background-color: #fff; }
.normalized .form-control:focus, .normalized .input-prefix-suffix:focus, .normalized .form-control.focus, .normalized .focus.input-prefix-suffix, .normalized .form-control:active, .normalized .input-prefix-suffix:active, .normalized .form-control.active, .normalized .active.input-prefix-suffix {
    background-color: #fff;
    border-color: #0c92e3;
    color: #606060;
    box-shadow: 0 0 4px #d1eafa; }
.normalized .form-control[disabled], .normalized [disabled].input-prefix-suffix, .normalized .form-control[readonly], .normalized [readonly].input-prefix-suffix, .normalized .form-control[disabled]:hover, .normalized [disabled].input-prefix-suffix:hover, .normalized .form-control[disabled]:focus, .normalized [disabled].input-prefix-suffix:focus, .normalized .form-control[disabled]:focus:hover, .normalized [disabled].input-prefix-suffix:focus:hover, .normalized .form-control[disabled]:active, .normalized [disabled].input-prefix-suffix:active, .normalized .form-control[disabled]:focus:active, .normalized [disabled].input-prefix-suffix:focus:active {
    background-color: #eeeeee;
    border-color: #c7c7c7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    cursor: not-allowed; }

.normalized .form-control::-moz-placeholder, .normalized .input-prefix-suffix::-moz-placeholder {
    color: #606060;
    opacity: .6; }

.normalized .form-control::-webkit-input-placeholder, .normalized .input-prefix-suffix::-webkit-input-placeholder {
    color: #606060;
    opacity: .6; }

.normalized .form-control::-ms-input-placeholder, .normalized .input-prefix-suffix::-ms-input-placeholder {
    color: #606060;
    opacity: .6; }

.normalized .has-error .form-control, .normalized .has-error .input-prefix-suffix {
    border: 2px solid #fa5111;
    padding: 4px 7px;
    color: #cf3e07;
    background-color: #ffeaea;
    box-shadow: none;
    -webkit-transition: background 0.15s linear, color 0.15s linear, border-color 0.15s linear, box-shadow 0.15s linear;
    transition: background 0.15s linear, color 0.15s linear, border-color 0.15s linear, box-shadow 0.15s linear; }

.normalized .has-error .form-control:hover, .normalized .has-error .input-prefix-suffix:hover {
    background-color: #fff; }

.normalized .has-error .form-control:focus, .normalized .has-error .input-prefix-suffix:focus {
    background-color: #fff;
    box-shadow: 0 0 4px #F5C0C0; }

.normalized .has-success .form-control, .normalized .has-success .input-prefix-suffix {
    border: 2px solid #468847;
    padding: 4px 7px;
    background-color: #eaffea;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #468847;
    transition: background 0.15s linear, color 0.15s linear, border-color 0.15s linear, box-shadow 0.15s linear;
    -webkit-transition: background 0.15s linear, color 0.15s linear, border-color 0.15s linear, box-shadow 0.15s linear; }

.normalized .has-success .form-control:focus, .normalized .has-success .input-prefix-suffix:focus {
    background-color: #fff;
    box-shadow: 0 0 4px #88c889; }

.loader svg {
    height: 100%;
    width: 100%; }

[class*="loading"] .loader .spin-left {
    -webkit-animation: spinleft 1s infinite linear;
    animation: spinleft 1s infinite linear; }

[class*="loading"] .loader .spin-right {
    -webkit-animation: spinright 0.5s infinite linear;
    animation: spinright 0.5s infinite linear; }

.btn .loader {
    position: absolute;
    width: 100%;
    height: 160%;
    top: -30%;
    left: 0;
    display: none;
    z-index: 1;
    overflow: hidden;
    -webkit-animation: fadein .1s 1 linear;
    animation: fadein .1s 1 linear; }
.btn .loader .ecwid-spinner {
    margin: 0 auto;
    height: 100%;
    height: -webkit-calc(100% + 0px);
    width: -webkit-calc(100% + 0px); }

.btn-loading .loader {
    display: block; }
