@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,latin-ext,cyrillic');

.ecwid-widget-stub {
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans';
    padding: 1em;
    background-color: #f8f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    outline: 1px solid lightgray;
    color: #32373c;
}

.ecwid-widget-stub > div {
    display: flex;
    justify-content: center;
}
.ecwid-widget-stub-header {
    font-weight: 600;
    font-family: 'Open Sans';
}

.ecwid-widget-stub-header svg {
    max-height: 20px;
    margin-right: 1ch;
}