.ec-store-block-filters-page {

	.ec-store-products .ec-store-product-block.ec-store-product-filter .ec-store-stub-sample {
		min-height: 160px;
		height: 160px;
		background: url("../../images/gutenberg/search-filters-stub.png") no-repeat;
		background-size: contain;
	}
}

