
.ec-store-block > .ec-store-category {
  display: block;
}

.ec-store-category-products > div {
  width: 130px;
  height: 130px;
  margin: 15px;
  display: inline-flex;
  border: 1px solid #e2e4e7;
  background-size: 100% 100%;
}

.ec-store-category-product1 {
  background: url("../../images/gutenberg/category1.png");
}

.ec-store-category-product2 {
  background: url("../../images/gutenberg/category2.png");
}

.ec-store-category-product3 {
  background: url("../../images/gutenberg/category3.png");

}

.ec-store-category-product4 {
  background: url("../../images/gutenberg/category4.png");
}

.ec-store-category-product5 {
  background: url("../../images/gutenberg/category5.png");
}

.ec-store-category-product6 {
  background: url("../../images/gutenberg/category6.png");
}
