.idea
.vscode
/WordPress
.phpcs.xml.dist
.phpunit.result.cache
.travis.yml
bin/
composer.json
composer.lock
phpunit.xml.dist
tests/
vendor/
node_modules/

# Operating system specific files
.DS_Store
Thumbs.db