.ec-store-block-cart-page .ec-store-block-cart-page-preview {
    background-image: url('../assets/images/cart-page-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 0 1em 2em;
    aspect-ratio: 16 / 9;
}