.ec-store-block-cart-page .ec-store-block-buynow-preview {
    background-image: url('./images/buy-now-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 90%;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 100%;
    display: block;
}