.ec-store-block-minicart {
    min-height: 66px;
    min-width: 210px;
    display: inline-block;
    background: none;
    position: relative;
}

.ec-store-block-minicart .image {
    background: url('./images/minicart-preview.png') 50% 50% no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}